<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.diankangwo.dao"></context:component-scan>
	<!-- 不拦截资源文件 -->
	<http pattern="/favicon.ico" security="none" />
	<http pattern="/resources/**" security="none" />

	<http use-expressions="true" access-denied-page="/accessdeny">
		<form-login login-page="/login" login-processing-url="/check_login"
			authentication-failure-url="/login?login_error=1" username-parameter="username"
			password-parameter="password" />
		<logout invalidate-session="true" logout-success-url="/" logout-url="/log_out" />
		<custom-filter ref="myFilter" before="FILTER_SECURITY_INTERCEPTOR"/>
	</http>

	<authentication-manager alias="authenticationManager">
		<authentication-provider user-service-ref="userService">
			<password-encoder ref="passwordEncoder">
				<salt-source ref="saltSource" />
			</password-encoder>
		</authentication-provider>
	</authentication-manager>

	<!-- 密码盐值，取用户名作为盐值 -->
	<beans:bean id="saltSource"
		class="org.springframework.security.authentication.dao.ReflectionSaltSource">
		<beans:property name="userPropertyToUse" value="salt_value"></beans:property>
	</beans:bean>
	<!-- SHA加密类 -->
	<beans:bean id="passwordEncoder"
		class="org.springframework.security.authentication.encoding.ShaPasswordEncoder">
	</beans:bean>
	<beans:bean id="myAccessDecisionManager"
		class="com.diankangwo.security.MyAccessDecisionManager">
	</beans:bean>
	<beans:bean id="mySecurityMetadataSource"
		class="com.diankangwo.security.MyInvocationSecurityMetadataSourceService">
	<beans:constructor-arg name="roleDAO" ref="roleDAO" />
	</beans:bean>
	<!-- 定义filter -->
	<beans:bean id="myFilter"
		class="com.diankangwo.security.MyFilterSecurityInterceptor">
		<beans:property name="authenticationManager" ref="authenticationManager" />
		<beans:property name="accessDecisionManager" ref="myAccessDecisionManager" />
		<beans:property name="securityMetadataSource" ref="mySecurityMetadataSource" />
	</beans:bean>
</beans:beans>